<div class="container">
  <div class="col-sm-12 mt-3">
   <span class = "h3 bg-secondary text-dark">商品一覧</span>

    <table class = "table table-borderless">
     <thead class = "thead-light">
      <tr>
       <td>商品ID</td>
       <td>商品名</td>
       <td>税抜価格</td>
       <td>ジャンル</td>
       <td>ステータス</td>
      </tr>
     </thead>

     <tbody>
      <% @items.each do |item| %>
      <tr>
       <td><%= item.id %></td>
       <td><%= link_to item.name, admin_item_path(item.id) %></td>
       <td><%= item.price %></td>
       <td><%= item.genre_id %></td>
       <td>ステータス（保留）</td>
      </tr>
      <% end %>
     </tbody>

     <tfoot>
     </tfoot>
    </table>
  </div>
 </div>