<div class="container">
 <div class="row"> 
  <div class="col-sm-12 mt-3 d-flex justify-content-center">
   <h1 class="About">About</h1>
  </div>
 </div>

 <div class="row"> 
  <div class="col-sm-12 mt-3 d-flex mx-auto justify-content-center">
    ながのCAKEは全国発送可能なケーキ屋さんです。
  </div>
 </div>
 <div class="row"> 
  <div class="col-sm-12 d-flex mx-auto justify-content-center">
    お子様からお年寄りの方までお召し上がりいただけるよう、
　</div>
 </div>  
 <div class="row"> 
  <div class="col-sm-12 d-flex mx-auto justify-content-center">    
    様々なバリエーションをご用意しております。
  </div>
 </div>
 <div class="row"> 
  <div class="col-sm-12 d-flex mx-auto justify-content-center">  
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
  </div>
 </div>
 <div class="row"> 
  <div class="col-sm-12 d-flex mx-auto justify-content-center">  
    ぜひご注文ください。
  </div>
 </div>
 
</div>
