<div class="container">
 <div class="row">
  <div class="col-sm-12 cover-img mt-5 d-flex justify-content-center" style="background-image ">
   <div class="cover-text">
   ようこそ、ながのCAKEへ！<br>
   このサイトは、ケーキ販売のECサイトになります。<br>
   会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。
   </div>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-2 mt-5 d-flex justify-content-center"></div>
  <div class="col-sm-10 mt-5">
   <span class="h2"><b>新着商品</b></span>
  </div>
 </div>
 <div class="row">
  <div class="col-sm-2 mt-5 d-flex justify-content-center"></div>
  <div class="col-sm-9 mt-5">
  <table class="table table-borderless">
   <tr>
    <% @items.each do |item| %>
    <td>
     <% if item.image.attached? %>
      <%= image_tag item.image, size: "100x100" %>
     <% else %>
      <%= image_tag 'no_image', size: "100x100" %>
     <% end %><br>
    <%= link_to item.name, item_path(item.id) %>
    </td>
    <% end %>
   </tr>
  </table>
  </div>
 </div>

  <div class="row">
   <div class="col-sm-2 mt-5 d-flex justify-content-right"><%= link_to "全ての商品を見る＞", items_path %></div>
  </div>
</div>