<h2>会員一覧</h2>
<table>
 <thead>
  <tr>
   <td>会員ID</td>
   <td>氏名</td>
   <td>メールアドレス</td>
   <td>ステータス</td>
  </tr>   
 </thead>
 <tbody>
  <%# @customers.each do |order| %>
  <tr>
   <td><%#= order_detail.id %></td>
   <td><%#= order_detail.name %></td>
   <td><%#= order_detail.e-mail %></td>
   <td><%#= order_detail.??? %></td>
  </tr>
  <%# end %>
 </tbody>
</table>

ページネーションが入るよ