<h2>注文履歴詳細</h2>
<table>
 <tbody>
  <%# @order_details.each do |order_detail| %>
  <tr>
   <td>購入者</td>
   <td><%#= order_detail.name %></td>
  </tr>
  <tr>
   <td>注文日</td>
   <td><%#= order_detail.introduction %></td>
  </tr>
  <tr>
   <td>配送先</td>
   <td><%#= order_detail.genre_id %></td>
  </tr>
  <tr>
   <td>支払方法</td>
   <td><%#= order_detail.price %></td>
  </tr>
  <tr>
   <td>注文ステータス</td>
   <td><%#= order_detail.price %></td>
  </tr>
 </tbody>
</table>

<table>
 <thead>
  <tr>
   <td>商品名</td>
   <td>単価（税込）</td>
   <td>数量</td>
   <td>小計</td>
   <td>製作ステータス</td>
   <td></td>
  </tr>   
 </thead>
 <tbody>
  <%# @orders.each do |order| %>
  <tr>
   <td><%#= order_detail.name %></td>
   <td><%#= order_detail.price %></td>
   <td><%#= order_detail.amount %></td>
   <td><%#= order_detail.price? %></td>
   <td><%#= order_detail.??? %></td>
   <td><% link_to "更新", admin_orders_detail_path %></td>
  </tr>
  <% end %>
 </tbody>
</table>

<tabel>
 <tbody>
  <tr>
    <td>商品合計</td>
    <td>小計の合計やで</td>
  </tr>
  <tr>
    <td>送料</td>
    <td>送料やで</td>
  </tr>
  <tr>
    <td>請求金額合計</td>
    <td>小計と送料の合計やで</td>
  </tr>
 </tbody>
</table>
   