<h2>商品一覧</h2>(全??件)

<table>
 <% @items.each do |item| %>
  <tr>
   <td><%= link_to item.name, item_path(item.id) %></td>
   <td><%= item.price %></td>
  </tr> 
 <% end %>
</table>
<%#= paginate @items %>