<div class="container">
 <div class="row">
  <div class="col-sm-3 mt-3"></div>
  <div class="col-sm-9 mt-3">
   <span class = "h2">商品一覧</span>(全??件)
  </div>
 </div>


 <div class="row">
  <div class="col-sm-3 mt-3"></div>
  <div class="col-sm-9 mt-3">
  <% @items.each do |item| %>
  <%= link_to item.name, item_path(item.id) %>
  <%= item.price %>
  <% end %>
  </div>
 </div>
<%#= paginate @items %>
</div>